

$min-width: 415px;
$max-width: 699px;

body {
  #backdrop {
    #title {
      #front {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
          height: 420px;
        }
      }
      #imgFrame {
        img {
          @media screen and (min-width: $min-width) and (max-width: $max-width) {
            margin: 25px 0;
          }
        }
      }
    }
  }
  #topMenu {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      height: 50px;
      line-height: 50px;
      font-size: 1.5rem;
    }
  }
  #allButtons {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @keyframes open {
        0% { height: 0px; }
        100% { height: 413px }
      }
      .oneButton {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
          @keyframes openButton {
            0% {
              font-size: 0rem;
              padding: 0px;
              height: 0px;
            }
            100% {
              font-size: 1.5rem;
              padding: 13px 0 0 0;
              height: 45px;
            }
          }
        padding: 13px 0 0 0;
        font-size: 1.5rem;
        height: 45px;
        }
      }
      height: 413px;
    }
  }
  #mainContent {
    table {
      tr {
        #problem {

        }
        #solution1 {

        }
        #solution2 {

        }
      }
    }
    #intro {
      @media screen and (min-width: $min-width) and (max-width: $max-width) {
        padding: 30px 10%;
      }
      #introText {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
          font-size: 1.6rem;
        }
      }
      ul {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
          margin: 30px 0% 0px 0%;
          font-size: 1.5rem;
        }
        li {
          .listBack {

          }
        }
      }
    }
    #wrapBoxes {
      .mainBox {
        .boxTitle {
          @media screen and (min-width: $min-width) and (max-width: $max-width) {
            font-size: 2.2rem;
          }
        }
        .boxContent {
          .flexBox {
            .topImg {

            }
            .description {
              @media screen and (min-width: $min-width) and (max-width: $max-width) {
                font-size: 1.5rem;
              }
            }
            .bottomImg {
              @media screen and (min-width: $min-width) and (max-width: $max-width) {
                display: none;
              }
            }
            #emailIntro {

            }
            #emailBox {
              #emailButton {
                @media screen and (min-width: $min-width) and (max-width: $max-width) {
                  margin: 50px 15%;
                }
              }
              #emailAddress-2 {
                #italic {
                  @media screen and (min-width: $min-width) and (max-width: $max-width) {
                    font-size: 1.5rem;
                  }
                }
                #underline {
                  @media screen and (min-width: $min-width) and (max-width: $max-width) {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
          .toTop {
            @media screen and (min-width: $min-width) and (max-width: $max-width) {
              margin-top: 25px;
              img {

              }
              img:hover {

              }
            }
          }
        }
      }
      #footer {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
          display: block;
        }
        a {
          @media screen and (min-width: $min-width) and (max-width: $max-width) {
            display: block;
          }
          img {
            @media screen and (min-width: $min-width) and (max-width: $max-width) {
              margin-left: 60%;
              position: relative;
              right: 25%;
            }
          }
        }
        div {
          @media screen and (min-width: $min-width) and (max-width: $max-width) {
            font-size: 1.1rem;
            text-align: center;
          }
          a:hover {

          }
        }
      }
    }
  }
}
